.shdw5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.shdw4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shdw3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shdw2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shdw1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

* {
  padding: 0;
  margin: 0;
  font-family: 'Open-Sans', sans-serif; }

body {
  background: #eaeaea; }

header {
  width: 100%;
  height: 70px;
  z-index: 100;
  position: fixed;
  background: #4db6ac; }
  header .logo {
    color: #fff;
    font-size: 30px;
    float: left;
    margin: 20px 0 0 15px;
    font-weight: 400; }

#sideNav {
  width: 20%;
  float: left;
  z-index: 3;
  height: 100%;
  background: #fff;
  position: fixed;
  padding-top: 70px;
  overflow-y: auto; }
  #sideNav .scroll {
    height: 100%; }

#filter {
  display: none;
  opacity: 0;
  position: fixed;
  top: 70px;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

.menuBtn {
  float: left;
  margin: 30px 10px;
  display: none;
  cursor: pointer; }
  .menuBtn .line {
    border-radius: 10px;
    width: 25px;
    margin-bottom: 3px;
    height: 3px;
    background: #fff; }

.list {
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  float: left;
  cursor: pointer;
  border-bottom: 1px solid #ccc; }
  .list .itemLogo {
    float: left;
    padding: 10px 0;
    width: 20%;
    text-align: center; }
  .list .item {
    float: left;
    color: #555;
    width: 80%;
    text-align: center;
    padding: 15px 0; }
  .list:hover {
    background: #eee; }
  .list.active {
    background: #eee; }

.tab {
  display: none; }

#history {
  display: block; }

#ct {
  width: 56%;
  float: left;
  position: relative;
  top: 90px;
  left: 20%;
  margin: 0 2%; }
  #ct .img {
    width: 100%;
    height: 250px;
    background: #ccc; }
  #ct h2 {
    width: 100%;
    color: #888;
    position: relative;
    top: 80px;
    font-weight: 400;
    font-size: 30px;
    text-align: center; }
  #ct p {
    width: 100%;
    font-size: 40px;
    color: #eee;
    text-align: center;
    padding-top: 50px; }
  #ct .content {
    width: 100%;
    padding: 40px;
    color: #555;
    box-sizing: border-box;
    text-align: justify; }

#rightNav {
  width: 20%;
  background: #fff;
  height: 100%;
  padding-top: 80px;
  overflow-y: auto;
  right: 0;
  position: fixed; }
  #rightNav h2 {
    width: 100%;
    text-align: center;
    color: #555;
    font-size: 25px;
    font-weight: 400; }
  #rightNav .newsCard {
    width: 96%;
    margin: 2%;
    min-height: 100px;
    border-radius: 5px;
    color: #888;
    padding: 10px;
    box-sizing: border-box; }

#chngImg {
  position: relative;
  left: 20px;
  bottom: -80px;
  float: left;
  cursor: pointer; }

#chngHistory {
  position: relative;
  left: 20px;
  top: 20px;
  cursor: pointer; }

.search input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px; }

.listItem {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  margin: 10px 0;
  height: 200px;
  background: #fff; }

@media only screen and (max-width: 768px) {
  #rightNav {
    display: none; }

  #ct {
    width: 66%;
    left: 30%; }

  #sideNav {
    width: 30%; } }
@media only screen and (max-width: 400px) {
  #sideNav {
    width: 70%;
    left: -70%;
    transition: 200ms ease-in all;
    -webkit-transition: 200ms ease-in all;
    -moz-transition: 200ms ease-in all; }
    #sideNav.open {
      left: 0;
      transition: 200ms ease-in all;
      -webkit-transition: 200ms ease-in all;
      -moz-transition: 200ms ease-in all; }
    #sideNav .scroll {
      height: 130%; }

  #filter.open {
    display: block;
    opacity: 1;
    transition: 200ms all;
    -webkit-transition: 200ms all;
    -moz-transition: 200ms all; }

  .menuBtn {
    display: block; }

  #ct {
    width: 96%;
    left: 0; } }

/*# sourceMappingURL=history.css.map */
